.footer-container {
  bottom: 0;
  width: 100%;
  height: max-content;
  background-color: #4e4545;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-section {
  width: 20em;
  height: 100px;
}
.footer-section:nth-child(2) {
  text-align: center;
}
.footer-img {
  object-fit: contain;
  height: 80px;
  width: auto;
  margin-top: 10px;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  color: #c0c0c0;
}