.footer-container {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #4e4545;
  display: flex;
}
.footer-section {
  width: 33%;
}
.footer-section:nth-child(2) {
  height: 95px;
}
.footer-img {
  
}